body {
  background-color: #221e1f;
  font-family: Myriad Pro, sans-serif;
}

p {
  margin-left: 90%;
  color: #8d9199;
  font-size: 16px;
  margin-top: 2%;
}

#diamond img {
  margin-left: 45%;
}

#diamond-container {
  align: center;
  display: inline-block;
  height: 250px;
  width: 200px;
  background-image: url("janetpagediamond.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#fashion {
  z-index: 10;
   -ms-transform: rotate(-60deg);
   -webkit-transform: rotate(-60deg);
   -moz-transform: rotate(-60deg);
   -o-transform: rotate(-60deg);
   -sand-transform: rotate(-60deg);
   transform: rotate(-60deg);
}

#fashion a {
  margin-right: 50px;
  color: #70696b;
  text-decoration: none;
  transform: rotate(45deg);
}

#web {
  z-index: 10;
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -sand-transform: rotate(45deg);
   transform: rotate(45deg);
}

#web a {
  margin-left: 130px;
  color: #7a797a;
  text-decoration: none;
  text-align: center;

}

#gorillas {
  z-index: 10;
   -ms-transform: rotate(50deg);
   -webkit-transform: rotate(50deg);
   -moz-transform: rotate(50deg);
   -o-transform: rotate(50deg);
   -sand-transform: rotate(50deg);
   transform: rotate(50deg);
}

#gorillas a {
  margin-left: 122px;
  color: #73787f;
  text-decoration:none;
}

#photos {
  z-index: 10;
   -ms-transform: rotate(-60deg);
   -webkit-transform: rotate(-60deg);
   -moz-transform: rotate(-60deg);
   -o-transform: rotate(-60deg);
   -sand-transform: rotate(-60deg);
   transform: rotate(-60deg);
}

#photos a {
  margin-right: 200px;
  color: #78747c;
  text-decoration:none;
}

#fashion a:hover {
  color: #afadb2;
  text-decoration: none;
}

#web a:hover {
  color: #afadb2;
  text-decoration: none;
}

#gorillas a:hover {
  color: #afadb2;
  text-decoration:none;
}

#photos a:hover {
  color: #afadb2;
  text-decoration:none;
}
