body {
  background-color: #221e1f;
  font-family: Myriad Pro, sans-serif;
}

#text {
 margin-top: 15%;
 margin-bottom: 0;
 text-align: center;
}

#text a{
  color: #8d9199;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
}


#text a:hover{
color: #afadb2;
}

#first-line {
  width: 100%;
  height: 1px;
  background-color: #c2c1c2;
  margin-top: 0;
}

#second-line {
  width: 100%;
  height: 1px;
  background-color: #c2c1c2;
  margin-top: 3%;
}
